<div class="mx-3 mt-5">
    <div class="text-center m-4">
        <span class="fs-1 text-decoration-underline fw-bold fst-italic rounded p-2">WELCOME !!!</span>
    </div>
    <div class="text-center mb-5">
        <h4 class="my-3">This is the example application for MFE</h4>
        <h5 class="my-3">You can view the employee details from different application in single UI by clicking below buttons.</h5>
    </div>
    <div class="container text-center">
        <button type="button" class="btn btn-primary bg-gradient btn-lg me-4" routerLink="/basic">Employee Basic details</button>
        <button type="button" class="btn btn-primary bg-gradient btn-lg" routerLink="/project">Employee Project details</button>
    </div>
</div>