<div class="mt-5 w-75 text-center container">
    <form class="float-start" [formGroup]="filterForm">
        <label class="me-2 fw-bold">Department : </label>
        <select id="dept" formControlName="dept" (change)="onFilter()">
            <option value="">Select an option</option>
            <option value="Development">Development</option>
            <option value="Testing">Testing</option>
            <option value="Accounts">Accounts</option>
            <option value="Sales">Sales</option>
        </select>
    </form>
    <div class="float-end my-3">
        <button type="button" class="btn btn-success "  routerLink="/basic/form1">Add Basic Detail</button>
    </div>
    <table class="table table-striped table-hover bg-gradient ">
        <thead class="text-uppercase">
            <tr class="table bg-secondary text-white fs-4 bg-gradient m-2 t-head">
                <th colspan="7"><span>Basic Details</span></th>
            </tr>
            <tr>           
              <th>Id</th>
              <th>Employee Name</th>
              <th>Department</th>
              <th>Email Id</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <ng-container *ngIf="filterForm.get('dept')?.value==='';else noFilter">
            <tbody *ngIf="details$ | async as detail">
              <tr *ngFor="let item of detail "> 
                <td>{{item.id}}</td>
                <td>{{item.employeeName}}</td>
                <td>{{item.employeeDepartment}}</td>
                <td>{{item.employeeEmail}}</td>
                <td>{{item.employeeName}}</td>
              </tr>
            </tbody>
          </ng-container>
          <ng-template #noFilter>
            <tbody>
              <tr *ngFor="let item of details "> 
                <!-- | paginate: { itemsPerPage: 5, currentPage: page, totalItems: details?.length } -->
                <td>{{item.id}}</td>
                <td>{{item.employeeName}}</td>
                <td>{{item.employeeDepartment}}</td>
                <td>{{item.employeeEmail}}</td>
                <td>{{item.employeeName}}</td>
              </tr>
            </tbody>
          </ng-template>
          
    </table>
		<!-- <pagination-controls (pageChange)="page = $event"  ></pagination-controls> -->

</div>